.center-container {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  background-color: rgb(196, 191, 185);
}

h3 {
  width: 70%;
  background-color: rgb(196, 191, 185);
  margin-left: 15%;
  margin-right: 15%;
}

p {
  text-align: center;
  margin: 10 0;
}

.active {
  border: 5px solid red;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.input {
  border: 3px solid #a1a1a1;
  padding: 14px;
  border-radius: 15px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.select {
  /* width: 50%;
  margin-left: 25%;
  margin-right: 25%; */
  display: flex;
  margin: 10 0;
  width: 210;
}

.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.filepath {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  height: 30px;
  border: 2px solid #a1a1a1;
  border-radius: 5px;

}

.button {
  font-size: 1.2rem;
  width: 100px;
  height: 30px;
  background-color: rgb(59, 32, 179);
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.table {
  width: 800px;
  margin: auto;
  display: table;
  border-collapse: collapse;
  border: 0px solid #ccc;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table-caption {
  display: table-caption;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.table-column-group {
  display: table-column-group;
}

.table-column {
  display: table-column;
  width: 40px;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
  height: 40px;
}

.table-row-group .table-row:hover,
.table-footer-group .table-row:hover {
  background: #f6f6f6;
}

.table-cell {
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle;
  width: 20%;
}

.table-header-group {
  display: table-header-group;
  background: #eee;
  font-weight: bold;
  border: none
}

.table-footer-group {
  display: table-footer-group;
}